*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color-light: whitesmoke;
  --border-color-light: whitesmoke;
  --background-color-dark: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  display: flex;
  flex-grow: 1;
}

.app {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1200px;
  width: 100%;
}

.app-title {
  margin: 1rem 0;
  text-align: center;
}

.game-status {
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.page {
  max-width: 100%;
  padding-bottom: 2rem;
  width: 100%;
}

.page-description {
  margin-bottom: 0.5rem;
  text-align: center;
  white-space: wrap;
}

.reset-game {
  display: block;
  margin: 3rem auto 1rem auto;
  padding: 0.5rem 2rem;
}

.hangman-quote {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.highscores-table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 478px;
  padding: 2rem 1rem;
  width: 100%;
}

.highscores-table caption {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.highscores-table th,
.highscores-table td {
  padding: 0.25rem;
  border: 1px solid #ddd;
  text-align: left;
}

.highscores-table tbody tr:nth-child(odd) {
  background-color: #3e3e3e;
}

.letter-box {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  margin: 0.5rem;
}

.underline {
  border-bottom: 1px solid var(--border-color-light);
}
