*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color-light: whitesmoke;
  --border-color-blue: #2eb3fa;
  --border-color-light: whitesmoke;
  --border-color-warning: rgb(242, 242, 92);
  --background-color-dark: #242424;
  --background-color-light: #383838;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  height: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-grow: 1;
}

.app {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1200px;
  width: 100%;
}

.app-title {
  margin: 1rem 0;
  text-align: center;
}

.button {
  background-color: var(--background-color-dark);
  border: 1px solid var(--border-color-light);
  border-radius: 0.25rem;
  color: var(--text-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
}

.button:disabled {
  opacity: 0.3;
}

.center-align {
  margin: 1rem auto;
  text-align: center;
}

.game-status {
  font-size: 1rem;
  padding: 1rem 0;
  text-align: center;
}

.hangman-term {
  font-size: 1.5rem;
  margin: 2rem auto;
  text-align: center;
}

.hangman-quote {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}

.highscores-table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 478px;
  padding: 2rem 1rem;
  width: 100%;
}

.highscores-table caption {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.highscores-table th,
.highscores-table td {
  padding: 0.25rem;
  border: 1px solid var(--border-color-light);
  text-align: left;
}

.highscores-table tbody tr:nth-child(odd) {
  background-color: var(--background-color-light);
}

.letter-box {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  justify-content: center;
  margin: 0.5rem;
}

.loading {
  animation: spin 1s linear infinite;
  border: 10px solid var(--border-color-light);
  border-top: 6px solid var(--background-color-light);
  border-radius: 50%;
  height: 50px;
  margin: 2rem auto;
  width: 50px;
}

.page {
  max-width: 100%;
  padding-bottom: 2rem;
  width: 100%;
}

.page-description {
  margin-bottom: 0.5rem;
  text-align: center;
  white-space: wrap;
}

.underline {
  border-bottom: 1px solid var(--border-color-blue);
}

.username-form {
  border: 1px solid whitesmoke;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  max-width: fit-content;
  padding: 1rem;
}

.username-form-input-label {
  text-align: center;
  margin-bottom: 1rem;
}

.username-form-input {
  border: 1px solid whitesmoke;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  padding: 0.3125rem 0.5rem;
}

.warning-border {
  border: 1px solid var(--border-color-warning);
  padding: 1rem 0;
}

.word-box {
  display: flex;
  margin: 0 0.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
