.button {
  background-color: var(--background-color-dark);
  border: 1px solid var(--border-color-light);
  border-radius: 0.25rem;
  color: var(--text-color);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
}

.button:disabled {
  opacity: 0.3;
}
